<%- include('header') -%> 
<br>
<br>
<div class="container alert alert-danger" role="alert">
    <p style="text-align: center;">This page does not exists....<a href="/"><strong style="color: black;"> Click here</strong></a> to go to homepage</p>
 
  </div>

</main>
<footer style="position: absolute;bottom:0;
width:100%;">
    <!-- Footer Start-->
    <!-- footer-bottom area -->
    <div class="footer-bottom-area footer-bg">
        <div class="container">
            <div class="footer-border">
                 <div class="row d-flex justify-content-between align-items-center">
                     <div class="col-xl-10 col-lg-10 ">
                         <div class="footer-copy-right">
                             <p style="text-align: center;"> Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved  </p>
                         </div>
                     </div>
                     <div class="col-xl-2 col-lg-2">
                         <div class="footer-social f-right">
                             <a href="https://www.linkedin.com/in/mohit8031/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
                             <a href="https://github.com/raklugrin01" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
                             <a href="https://leetcode.com/raklugrin435/" target="_blank" rel="noopener noreferrer"><i class="fas fa-code"></i></a>

                         </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>

<!-- JS here -->
    <script src="js/custom.js"></script>
    <!-- All JS Custom Plugins Link Here here -->
    <script src="./js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./js/owl.carousel.min.js"></script>
    <script src="./js/slick.min.js"></script>
    <script src="./js/price_rangs.js"></script>
    
    <!-- One Page, Animated-HeadLin -->
    <script src="./js/wow.min.js"></script>
    <script src="./js/animated.headline.js"></script>
    <script src="./js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="./js/jquery.scrollUp.min.js"></script>
    <script src="./js/jquery.nice-select.min.js"></script>
    <script src="./js/jquery.sticky.js"></script>
    
    <!-- contact js -->
    <script src="./js/contact.js"></script>
    <script src="./js/jquery.form.js"></script>
    <script src="./js/jquery.validate.min.js"></script>
    <script src="./js/mail-script.js"></script>
    <script src="./js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="./js/plugins.js"></script>
    <script src="./js/main.js"></script>
    
</body>
</html>